*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #cfe2ff;
    --primary-hover: #ABD0FF;
    --nth-back: #f2f2f2;
    --primary-font: 'Nunito', sans-serif;
    --second-font: 'Work Sans', sans-serif;
    --blue-color: #084B8A;
    --border-color: #E6E6E6;
    --white-f2: #f2f2f2;
    --light-blue: #f0f6fb;
    --green-color: #04B404;
    --edit-color: #FAAC58;
    --delete-color: #FE2E2E;
}

body {
    font-family: var(--primary-font);
    color: var(--blue-color);
}
img {
    width: 100%;
}
/* ========================================= re ============================================= */
.btn-primary {
    padding: 10px;
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    background-color: var(--blue-color);
    text-transform: uppercase;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #6aa4f5;
    transition: all .3s ease;
}
::placeholder {
    color: var(--blue-color);
    font-weight: 100;
    font-family: var(--second-font);
}


/* ===================================== side =================================== */
.side {
    margin-top: 4rem;
}
.title {
    text-align: center;
}


/* =================================== add-new-car =============================== */
.add-new-car{
    margin-top: 4rem;
    color: var(--blue-color);
    font-family: var(--second-font);
    display: flex;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    align-items: center;
    background-color: var(--white-f2);
    border-radius: 30px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    margin-left: 1rem;
}
.add-new-car i {
    margin-right: 1rem;
    color: var(--green-color);
 }
 .add-new-car:hover {
     background-color: var(--border-color);
     border: 1px solid var(--blue-color);
     transition: all .25s ease-in;
 }


/* ================================= table ======================================== */
.table-body {
    font-weight: 800;
    border-top: 2px solid var(--border-color);
    margin-top: 2rem;
    padding: 8px 0;
    width: 100%;
}

.table-body td, .table-body th {
    text-transform: capitalize;
    border-bottom: 1px solid var(--border-color);
    padding: 8px;
}
.table-body th {
    padding: 12px 0;
    text-align: left;
    padding-left: 8px;
    color: var(--blue-color);

}
.table-body td {
    color: #030303;
    font-weight: 100;
}
.table-body td .delete {
    cursor: pointer;
    color: var(--nth-back);
    background-color: var(--delete-color);
    border: none;
}
.table-body td .delete:hover {
    transform: scale(1.1);
    transition: all .25s ease;
}
.table-body td .edit {
    cursor: pointer;
    color: var(--nth-back);
    background-color: var(--edit-color);
    border: none;
}
.table-body td .edit:hover {
    transform: scale(1.1);
    transition: all .25s ease;
}

/* ========================================== form-body ================================== */
.form-body {
    color: var(--blue-color);
    position: fixed;
    top: -1000px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255, 0.9);
    padding-top: 4rem;
    transition: top .25s ease;
}
.form-contnet {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.2)!important;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    margin-top: 1rem;
}
.form-contnet h2 {
    color: var(--blue-color);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--border-color);
    text-transform: uppercase;
}
.form-contnet form input{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}
.form-contnet form input:focus {
    outline: none;
    border: 1px solid var(--blue-color);
}
.form-contnet form label {
    color: var(--primary-color);
    display: block;
    text-align: left;
    margin-top: 1rem;
    cursor: pointer;
}

.form-contnet form .buttons {
    display: block;
    text-align: right;
    align-items: center;
    font-weight: bold;
}
.form-contnet form .buttons button {
    padding: 12px;
    border: none;
    color: var(--nth-back);
    cursor: pointer;
    font-weight: 800;
}
.form-contnet form .buttons a {
    color: var(--nth-back);
    cursor: pointer;
    border: none;
    font-weight: 800;
}
